<Layouts.flash_group flash={@flash} />
<div class="max-w-2xl mx-auto py-12">
  <h1 class="text-3xl font-bold tracking-tight">
    {@page.name}
  </h1>

  <p class="mt-4">
    {@page.data}
  </p>
</div>
